In [25]:
# Imports
import pandas as pd
# from sqlalchemy import create_engine
# import sqlalchemy
import os,sys
from pathlib import Path
import numpy as np

In [26]:
chart_data = pd.DataFrame(
    np.random.randn(20, 3),
    columns=["a", "b", "c"])

In [27]:
chart_data

           a         b         c
0   2.552411 -0.321045 -0.262942
1   1.057278 -0.727326  1.095520
2   1.561285 -0.737727 -1.326094
3  -0.965676  0.534625 -0.993175
4   2.075847  0.160237 -2.057776
5  -0.288926  0.350392  0.822193
6  -0.337573  0.834297 -0.485770
7  -2.043227  0.319582 -0.893768
8   0.017082  0.254676  0.834134
9  -0.005506 -2.188689 -0.397207
10 -0.730688 -0.785909  0.545367
11  1.187781  2.321995 -1.002288
12 -0.407362  1.372588 -0.429166
13  0.159963 -1.424898  0.474248
14 -0.940022  0.992455 -0.871093
15 -0.305053 -0.546068 -0.157817
16  0.032455 -0.423409 -0.009938
17  0.361920 -0.267990 -0.434811
18 -1.644551 -1.097467  0.262185
19  0.345272  1.689024 -0.927885

In [28]:
path_to_data = "../example_data/example_csv"

In [29]:
video_name = "Coppel Moda"

path_to_dynamics = os.path.join(path_to_data, "dynamics", f"{video_name}.csv")

In [30]:
path_to_dynamics

'../example_data/example_csv/dynamics/Coppel Moda.csv'

In [31]:
raw_dynamics_dataframe = pd.read_csv(path_to_dynamics, index_col="Timestamp")
_ = raw_dynamics_dataframe.pop("Unnamed: 0")

In [32]:
raw_dynamics_dataframe

,ANGRY,CONFUSED,SAD,SURPRISED,DISGUSTED,FEAR,HAPPY,ENGAGEMENT
Timestamp,,,,,,,,
0,49.510502,46.939466,48.803213,47.155074,48.424125,47.627765,47.924729,45.979261
1,50.677536,45.991686,50.903893,47.304998,49.704402,48.587567,50.012861,47.017137
2,48.442131,48.676068,50.505907,44.596597,47.670781,44.611528,47.615587,49.560240
3,47.799761,47.326789,50.595341,46.746958,47.100657,46.058649,46.525070,49.062755
4,48.984544,48.212575,49.736157,47.663657,47.770606,47.727624,46.326525,47.596663
5,49.580772,50.029427,49.808499,50.662863,49.795418,50.210549,49.053955,49.112609
6,52.945377,46.946531,51.596801,52.340388,51.786080,51.305605,49.851234,48.904206
7,48.113170,46.360847,49.548395,50.193082,48.168947,48.160552,46.865439,48.344620
8,50.675497,47.997140,49.295457,50.896261,49.714278,50.162556,47.465246,50.327406
9,50.275338,48.208195,49.615053,51.275466,48.396430,50.338612,48.419628,49.518551
10,48.901176,47.128597,50.801551,49.178100,48.530346,48.299670,46.669259,49.034855
11,50.102099,48.399443,49.059674,48.140388,47.621104,49.162457,47.564658,50.765921
12,48.063303,48.853617,48.840421,48.057726,46.318766,48.700294,46.826545,49.213293
13,48.746867,46.544747,50.495009,47.828303,48.514812,47.188113,46.457775,48.461098
14,47.006690,49.258345,50.399205,47.909553,47.221900,47.448514,45.174367,50.127698
15,49.187519,50.150213,50.800553,49.791973,49.210205,49.489281,47.460778,50.190175
16,47.078639,46.879892,50.331139,50.236926,48.961214,48.549838,45.805401,48.760013
17,50.603528,51.314931,50.829565,49.016222,48.850853,49.742178,46.051643,51.635927
18,49.663796,49.367970,50.664135,49.364684,48.820087,49.871392,46.312509,51.211506
19,47.495561,50.842613,49.712245,52.074227,48.988855,48.973949,47.150894,50.061508
20,47.005129,48.118674,49.457615,49.411737,47.676810,46.955095,45.219969,49.477449
21,49.394896,47.064999,53.253327,48.167777,48.489281,49.501765,45.978191,49.939520
22,47.982554,48.236745,52.541207,48.845214,48.733769,48.057394,47.014936,50.368081
23,47.998112,48.576243,53.296786,50.174969,48.139339,49.437447,46.895546,52.137941
24,50.159082,50.058794,49.542714,49.661895,48.433107,49.487483,47.387854,49.830170
25,51.802480,51.589718,51.560485,52.148970,49.487781,52.305414,48.590587,51.301641
26,48.019160,49.534471,50.719698,49.351991,47.585307,47.484477,45.860114,51.966160
27,49.331483,47.846122,50.768880,49.333783,46.822921,49.109218,46.261734,50.079197
28,51.552497,49.149128,50.264234,50.663156,49.537388,49.588676,47.542920,50.209015
29,46.834167,48.901253,49.302715,49.886118,47.921414,47.689015,47.605019,50.094328

In [33]:
table_data_path = os.path.join(path_to_data,  f"emotions_metrics.csv")

raw_emotions_dataframe = pd.read_csv(table_data_path , index_col=0)
# _ = raw_dynamics_dataframe.pop("Unnamed: 0")

In [63]:
raw_emotions_dataframe

               stimulus                 metrics              value
0           Coppel Moda                   ANGRY  49.13111223433616
1           Coppel Moda                CONFUSED  48.48350795644678
2           Coppel Moda                     SAD  50.43499585670627
3           Coppel Moda               SURPRISED  49.26930187868311
4           Coppel Moda               DISGUSTED   48.4798995039088
..                  ...                     ...                ...
63  Wild & Fork 39s (1)               RETENTION  50.63658209733715
64  Wild & Fork 39s (1)       smile_probability  3.846153846153846
65  Wild & Fork 39s (1)                    CPMs                 26
66  Wild & Fork 39s (1)  engagement_probability  3.846153846153846
67  Wild & Fork 39s (1)                    CPMe                 26

[68 rows x 3 columns]

In [35]:
videos = raw_emotions_dataframe['stimulus'].unique()
videos

array(['Coppel Moda', 'Coppel Seleccion', 'Kavak', 'Wild & Fork 39s (1)'],
      dtype=object)

In [36]:
raw_emotions_dataframe['metrics'].unique()

array(['ANGRY', 'CONFUSED', 'SAD', 'SURPRISED', 'DISGUSTED', 'FEAR',
       'HAPPY', 'ENGAGEMENT', 'GENERAL IMPRESSION', 'LAST IMPRESSION',
       'ENGAGEMENT DYNAMICS', 'ATTRACTION', 'RETENTION',
       'smile_probability', 'CPMs', 'engagement_probability', 'CPMe'],
      dtype=object)

In [37]:
# Coppel_Moda = raw_dynamics_dataframe[raw_dynamics_dataframe["stimulus"] == "Coppel Moda"]

new_dataframe = pd.DataFrame(columns=raw_emotions_dataframe['metrics'].unique())

for video in videos:
    mask =  raw_emotions_dataframe["stimulus"] == video
    video_data =raw_emotions_dataframe[mask]
    for metric in video_data['metrics']:
        value = video_data[video_data["metrics"] == metric]["value"].values[0]
        try: # Try to convert to float
            value = float(value)
        except:
            pass
        new_dataframe.loc[video, metric] = value

In [38]:
pd.set_option('display.max_columns', None)
pd.set_option("display.precision", 1)
new_dataframe

,ANGRY,CONFUSED,SAD,SURPRISED,DISGUSTED,FEAR,HAPPY,ENGAGEMENT,GENERAL IMPRESSION,LAST IMPRESSION,ENGAGEMENT DYNAMICS,ATTRACTION,RETENTION,smile_probability,CPMs,engagement_probability,CPMe
Coppel Moda,49.1,48.5,50.4,49.3,48.5,48.7,47.1,49.7,SAD,CONFUSED,Positive,47.8,50.7,1.0,104.0,4.8,20.8
Coppel Seleccion,50.2,49.3,49.3,50.6,51.1,50.0,52.7,51.3,HAPPY,FEAR,Positive,48.5,52.6,22.1,4.5,13.5,7.4
Kavak,49.1,50.0,49.2,48.5,48.8,49.1,48.6,49.8,CONFUSED,FEAR,Positive,49.4,47.8,3.8,26.0,2.9,34.7
Wild & Fork 39s (1),49.6,50.2,49.3,48.9,49.0,49.4,48.0,48.4,CONFUSED,CONFUSED,Positive,48.7,50.6,3.8,26.0,3.8,26.0

In [39]:
coppel_moda_data = raw_emotions_dataframe[mask]

In [40]:
coppel_moda_data

               stimulus                 metrics              value
51  Wild & Fork 39s (1)                   ANGRY  49.61689755233871
52  Wild & Fork 39s (1)                CONFUSED  50.18235074591381
53  Wild & Fork 39s (1)                     SAD   49.2517435719524
54  Wild & Fork 39s (1)               SURPRISED  48.92644207021671
55  Wild & Fork 39s (1)               DISGUSTED  48.98029584623107
56  Wild & Fork 39s (1)                    FEAR  49.38258344099151
57  Wild & Fork 39s (1)                   HAPPY  47.97519642756742
58  Wild & Fork 39s (1)              ENGAGEMENT  48.44534942797738
59  Wild & Fork 39s (1)      GENERAL IMPRESSION           CONFUSED
60  Wild & Fork 39s (1)         LAST IMPRESSION           CONFUSED
61  Wild & Fork 39s (1)     ENGAGEMENT DYNAMICS           Positive
62  Wild & Fork 39s (1)              ATTRACTION    48.667713606174
63  Wild & Fork 39s (1)               RETENTION  50.63658209733715
64  Wild & Fork 39s (1)       smile_probability  3.846153846153846
65  Wild & Fork 39s (1)                    CPMs                 26
66  Wild & Fork 39s (1)  engagement_probability  3.846153846153846
67  Wild & Fork 39s (1)                    CPMe                 26

In [41]:
for metric in coppel_moda_data['metrics']:
    print(coppel_moda_data[coppel_moda_data["metrics"] == metric]["value"])
    a = coppel_moda_data[coppel_moda_data["metrics"] == metric]["value"].values[0]

51    49.61689755233871
Name: value, dtype: object
52    50.18235074591381
Name: value, dtype: object
53    49.2517435719524
Name: value, dtype: object
54    48.92644207021671
Name: value, dtype: object
55    48.98029584623107
Name: value, dtype: object
56    49.38258344099151
Name: value, dtype: object
57    47.97519642756742
Name: value, dtype: object
58    48.44534942797738
Name: value, dtype: object
59    CONFUSED
Name: value, dtype: object
60    CONFUSED
Name: value, dtype: object
61    Positive
Name: value, dtype: object
62    48.667713606174
Name: value, dtype: object
63    50.63658209733715
Name: value, dtype: object
64    3.846153846153846
Name: value, dtype: object
65    26
Name: value, dtype: object
66    3.846153846153846
Name: value, dtype: object
67    26
Name: value, dtype: object

In [42]:
a

'26'

In [43]:
import re
def make_name_k8s_compatible(name: str) -> str:
    return re.sub(
        r'[^a-z0-9-.]|^-|^\.', '', name.lower().replace('_', '-')
    )

In [46]:
table_data_path = os.path.join(path_to_data,  f"statement_irt_result.csv")
raw_irt_dataframe = pd.read_csv(table_data_path , index_col=0)

In [47]:
raw_irt_dataframe

,stimulus,message,weight,Coppel Moda.mp4,Coppel Seleccion.mp4,Kavak.mp4,Wild &amp; Fork 39s (1).mp4
0,Coppel Moda.mp4,Coppel es mi tienda departmental favorite,52.8,NaN,NaN,NaN,NaN
1,Coppel Moda.mp4,Coppel tiene la ropa de moda que yo necesito,67.2,NaN,NaN,NaN,NaN
2,Coppel Moda.mp4,Definitivamente compraré en Coppel,72.3,NaN,NaN,NaN,NaN
3,Coppel Moda.mp4,Me gusta la publicidad que esta haciendo Coppel,80.1,NaN,NaN,NaN,NaN
4,Coppel Seleccion.mp4,Coppel es mi tienda departmental favorite,53.4,NaN,NaN,NaN,NaN
5,Coppel Seleccion.mp4,Coppel tiene la ropa de moda que yo necesito,69.0,NaN,NaN,NaN,NaN
6,Coppel Seleccion.mp4,Definitivamente compraré en Coppel,74.4,NaN,NaN,NaN,NaN
7,Coppel Seleccion.mp4,Me gusta la publicidad que esta haciendo Coppel,85.9,NaN,NaN,NaN,NaN
8,Kavak.mp4,Definitivamente compraré mi siguiente auto en ...,52.7,NaN,NaN,NaN,NaN
9,Kavak.mp4,Kavak me ofrece la forma más segura de comprar...,59.9,NaN,NaN,NaN,NaN
10,Kavak.mp4,Kavak tiene la más grande variedad de autos,65.8,NaN,NaN,NaN,NaN
11,Kavak.mp4,Me gusta la publicidad que esta haciendo Kavak,82.3,NaN,NaN,NaN,NaN
12,Wild &amp; Fork 39s (1).mp4,Definitivamente comprare en Wild Fork,88.2,NaN,NaN,NaN,NaN
13,Wild &amp; Fork 39s (1).mp4,La publicidad hace que la marca Wild Fork me p...,68.7,NaN,NaN,NaN,NaN
14,Wild &amp; Fork 39s (1).mp4,La publicidad que están realizando Wild Fork e...,77.0,NaN,NaN,NaN,NaN
15,Wild &amp; Fork 39s (1).mp4,Me gusta la publicidad que están realizando Wi...,88.7,NaN,NaN,NaN,NaN
16,Wild &amp; Fork 39s (1).mp4,Me queda claro el mensaje que Wild Fork quiere...,81.7,NaN,NaN,NaN,NaN
17,Wild &amp; Fork 39s (1).mp4,Wild Fork es una marca que está haciendo cosas...,73.1,NaN,NaN,NaN,NaN

In [48]:
settings_dict = {
    "dataframe_float_precision": 2, # Max float digits in dataframe
}

def prepare_irt_metrics_data(raw_irt_dataframe):
    videos = raw_irt_dataframe['stimulus'].unique()
    new_dataframe = pd.DataFrame(
        columns=raw_irt_dataframe['message'].unique())
    for video in videos:
        mask = raw_irt_dataframe["stimulus"] == video
        video_data = raw_irt_dataframe[mask]
        for metric in video_data['message']:
            value = video_data[video_data["message"]
                               == metric]["weight"].values[0]
            try:  # Try to convert to float
                value = str(
                    round(float(value), settings_dict["dataframe_float_precision"]))
            except:
                pass
            new_dataframe.loc[video, metric] = value
    return new_dataframe

In [61]:
raw_irt_dataframe

,stimulus,message,weight,Coppel Moda.mp4,Coppel Seleccion.mp4,Kavak.mp4,Wild &amp; Fork 39s (1).mp4
0,Coppel Moda.mp4,Coppel es mi tienda departmental favorite,52.8,NaN,NaN,NaN,NaN
1,Coppel Moda.mp4,Coppel tiene la ropa de moda que yo necesito,67.2,NaN,NaN,NaN,NaN
2,Coppel Moda.mp4,Definitivamente compraré en Coppel,72.3,NaN,NaN,NaN,NaN
3,Coppel Moda.mp4,Me gusta la publicidad que esta haciendo Coppel,80.1,NaN,NaN,NaN,NaN
4,Coppel Seleccion.mp4,Coppel es mi tienda departmental favorite,53.4,NaN,NaN,NaN,NaN
5,Coppel Seleccion.mp4,Coppel tiene la ropa de moda que yo necesito,69.0,NaN,NaN,NaN,NaN
6,Coppel Seleccion.mp4,Definitivamente compraré en Coppel,74.4,NaN,NaN,NaN,NaN
7,Coppel Seleccion.mp4,Me gusta la publicidad que esta haciendo Coppel,85.9,NaN,NaN,NaN,NaN
8,Kavak.mp4,Definitivamente compraré mi siguiente auto en ...,52.7,NaN,NaN,NaN,NaN
9,Kavak.mp4,Kavak me ofrece la forma más segura de comprar...,59.9,NaN,NaN,NaN,NaN
10,Kavak.mp4,Kavak tiene la más grande variedad de autos,65.8,NaN,NaN,NaN,NaN
11,Kavak.mp4,Me gusta la publicidad que esta haciendo Kavak,82.3,NaN,NaN,NaN,NaN
12,Wild &amp; Fork 39s (1).mp4,Definitivamente comprare en Wild Fork,88.2,NaN,NaN,NaN,NaN
13,Wild &amp; Fork 39s (1).mp4,La publicidad hace que la marca Wild Fork me p...,68.7,NaN,NaN,NaN,NaN
14,Wild &amp; Fork 39s (1).mp4,La publicidad que están realizando Wild Fork e...,77.0,NaN,NaN,NaN,NaN
15,Wild &amp; Fork 39s (1).mp4,Me gusta la publicidad que están realizando Wi...,88.7,NaN,NaN,NaN,NaN
16,Wild &amp; Fork 39s (1).mp4,Me queda claro el mensaje que Wild Fork quiere...,81.7,NaN,NaN,NaN,NaN
17,Wild &amp; Fork 39s (1).mp4,Wild Fork es una marca que está haciendo cosas...,73.1,NaN,NaN,NaN,NaN

In [49]:
irt_dataframe = prepare_irt_metrics_data(raw_irt_dataframe)

In [60]:
irt_dataframe

,Coppel es mi tienda departmental favorite,Coppel tiene la ropa de moda que yo necesito,Definitivamente compraré en Coppel,Me gusta la publicidad que esta haciendo Coppel,Definitivamente compraré mi siguiente auto en Kavak,Kavak me ofrece la forma más segura de comprar un auto usado,Kavak tiene la más grande variedad de autos,Me gusta la publicidad que esta haciendo Kavak,Definitivamente comprare en Wild Fork,La publicidad hace que la marca Wild Fork me parezca una marca más atractiva,La publicidad que están realizando Wild Fork es divertida,Me gusta la publicidad que están realizando Wild Fork,Me queda claro el mensaje que Wild Fork quiere transmitir,Wild Fork es una marca que está haciendo cosas diferentes
Coppel Moda.mp4,52.77,67.2,72.29,80.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Coppel Seleccion.mp4,53.42,69.04,74.44,85.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kavak.mp4,NaN,NaN,NaN,NaN,52.75,59.85,65.8,82.34,NaN,NaN,NaN,NaN,NaN,NaN
Wild &amp; Fork 39s (1).mp4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.24,68.74,76.96,88.68,81.7,73.09

In [51]:
sys.path.insert(0,"/home/miksolo/work/emonomy_dashboard/data")

In [52]:
raw_dynamics_dataframe

,ANGRY,CONFUSED,SAD,SURPRISED,DISGUSTED,FEAR,HAPPY,ENGAGEMENT
Timestamp,,,,,,,,
0,49.5,46.9,48.8,47.2,48.4,47.6,47.9,46.0
1,50.7,46.0,50.9,47.3,49.7,48.6,50.0,47.0
2,48.4,48.7,50.5,44.6,47.7,44.6,47.6,49.6
3,47.8,47.3,50.6,46.7,47.1,46.1,46.5,49.1
4,49.0,48.2,49.7,47.7,47.8,47.7,46.3,47.6
5,49.6,50.0,49.8,50.7,49.8,50.2,49.1,49.1
6,52.9,46.9,51.6,52.3,51.8,51.3,49.9,48.9
7,48.1,46.4,49.5,50.2,48.2,48.2,46.9,48.3
8,50.7,48.0,49.3,50.9,49.7,50.2,47.5,50.3
9,50.3,48.2,49.6,51.3,48.4,50.3,48.4,49.5
10,48.9,47.1,50.8,49.2,48.5,48.3,46.7,49.0
11,50.1,48.4,49.1,48.1,47.6,49.2,47.6,50.8
12,48.1,48.9,48.8,48.1,46.3,48.7,46.8,49.2
13,48.7,46.5,50.5,47.8,48.5,47.2,46.5,48.5
14,47.0,49.3,50.4,47.9,47.2,47.4,45.2,50.1
15,49.2,50.2,50.8,49.8,49.2,49.5,47.5,50.2
16,47.1,46.9,50.3,50.2,49.0,48.5,45.8,48.8
17,50.6,51.3,50.8,49.0,48.9,49.7,46.1,51.6
18,49.7,49.4,50.7,49.4,48.8,49.9,46.3,51.2
19,47.5,50.8,49.7,52.1,49.0,49.0,47.2,50.1
20,47.0,48.1,49.5,49.4,47.7,47.0,45.2,49.5
21,49.4,47.1,53.3,48.2,48.5,49.5,46.0,49.9
22,48.0,48.2,52.5,48.8,48.7,48.1,47.0,50.4
23,48.0,48.6,53.3,50.2,48.1,49.4,46.9,52.1
24,50.2,50.1,49.5,49.7,48.4,49.5,47.4,49.8
25,51.8,51.6,51.6,52.1,49.5,52.3,48.6,51.3
26,48.0,49.5,50.7,49.4,47.6,47.5,45.9,52.0
27,49.3,47.8,50.8,49.3,46.8,49.1,46.3,50.1
28,51.6,49.1,50.3,50.7,49.5,49.6,47.5,50.2
29,46.8,48.9,49.3,49.9,47.9,47.7,47.6,50.1